.bga{
    background-image: url("https://wallpapercrafter.com/sizes/1920x1080/105029-space-space-art-planet-asteroid.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.cbg{
    background-color: rgba(255, 255, 255, 0.492);
}